@import "header";
@import "auth";
@import "user_show";
@import "user_edit";
@import "post";

body{
  width: 100%;
  min-height: 100vh;
}

.app-logo{
  color: white;
  font-size: 50px;

  &:hover{
    opacity: .8;
    color: white;
  }
}

.container{
  padding-top: 20px;
}