@import "header";
@import "auth";
@import "user_show";
@import "user_edit";
@import "post";

body{
  width: 100%;
  min-height: 100vh;
}

.app-logo{
  color: white;
  font-size: 40px;

  &:hover{
    opacity: .8;
    color: white;
  }
}

.post-list{
  padding: 0px 15px;
}

#app{
  padding-top: 266px;
}