.user-show-wrap{
  background-color: white;
  padding: 20px 10px 1px 0;
  
  .user-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding: 0 20px 5px;
    margin-bottom: 30px;
    
    &-left{
      display: flex;
      
      &-user-icon{
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 1px 1px 3px black;
        user-select: none;
        border: solid 1px lightgreen;
      }
      
      &-user-name{
        font-size: 20px;
        
        span{
          font-size: 30px;
          padding: 0 10px 0 20px;
        }
      }
    }
    
    &-right{
      
      &-user-config{
        font-size: 30px;
        color: gray;
        cursor: pointer;
        user-select: none;
        transition: .2s;
        
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}

.time-sum-wrap{
  padding: 0;
  user-select: none;
  margin-bottom: 20px;

  .dropdown{
    padding: 0;

    a{
      display: block;
      padding: 10px 0 2px;

      &:hover{
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
      }
    }
    
    .dropdown-menu{
      right: 0 !important;
      overflow: scroll;
      max-height: 50vh;
    }

    strong{
      font-size: 20px;
    }
  }
}