@import "header";
@import "auth";
@import "user_show";
@import "user_edit";
@import "post";
@import "relation";
@import "message";

body{
  width: 100%;
  min-height: 100vh;
}

.app-logo{
  color: white;
  font-size: 40px;
  line-height: 100%;

  &:hover{
    opacity: .8;
    color: white;
  }
}

.post-list{
  padding: 0px 15px;
}

#app{
  padding-top: 266px;
}

.main-back-color{
  background-color: $main_color;
}

.ranking{
  font-weight: bold;
  font-size: 40px;
  position: relative;
  
  &-icon-1{
    color: #fb3;
  }
  &-icon-2{
    color: #d8e1e7;
  }
  &-icon-3{
    color: #ecab6e;
  }
  &-icon-other{
    background-color: #a8f1e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  &-num{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 768px){
  .app-logo{
    font-size: 25px;
  }
}

@media(max-width: 575px){
  .ranking{
    font-size: 30px;
    
    &-icon-other{
      width: 30px;
      height: 30px;
    }
    
    &-num{
      font-size: 18px;
    }
  }
}