@import "header";
@import "auth";
@import "user_show";
@import "user_edit";
@import "post";
@import "relation";

body{
  width: 100%;
  min-height: 100vh;
}

.app-logo{
  color: white;
  font-size: 40px;
  line-height: 100%;

  &:hover{
    opacity: .8;
    color: white;
  }
}

.post-list{
  padding: 0px 15px;
}

#app{
  padding-top: 266px;
}

.main-back-color{
  background-color: $main_color;
}

@media(max-width: 575px){
  .app-logo{
    font-size: 30px;
  }
}