@import "./variables.scss";

.navbar{
  background-color: $main_color;
  z-index: 5;
  
  .header-user-icon{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    transition: .2s;
    cursor: pointer;
    user-select: none;
    border: solid 2px lightgreen;
    
    &:hover{
      transform: scale(1.1);
    }
  }
  
  .header-btn{
    font-size: 15px;
    padding: 0px 15px;
    display: flex !important;
    align-items: center;
    height: 40px;
    min-width: 40px;
    align-self: center;
    
    p{
      margin-left: 10px;
    }
  }

  .dropdown-menu{
    z-index: 5;
  }
}

.flash_message{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: none;
}

@media(max-width: 575px){
  .navbar{
  
    .nav-link{
      padding: .5rem 4px;
      font-size: 13px;
    }

    .header-btn{
      font-size: 13px;
      padding: 0px 10px;
      height: 30px;
      min-width: 30px;
    }
  }
}