.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &-top{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &-bottom{
    display: flex;
  }

  &-user-image{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 8px;
  }

  &-content{
    background-color: rgb(225, 255, 225);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: rgb(6, 71, 0);
    padding: 1rem;
    border-radius: 20px 20px 20px 0;
  }
  
  .own &-content{
    border-radius: 20px 20px 0 20px;
    background-color: rgb(6, 71, 0);
    color: white;
  }

  &-time{
    color: gray;
    font-size: 13px;
  }
}

.own.message{
  align-items: flex-end;
  margin-left: 100px;
}

.other.message{
  margin-right: 70px;
}