.navbar {
  background-color: #003f00;
}
.navbar-brand {
  color: white;
  line-height: 100%;
  font-size: 35px;
}
.header-user-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  border: solid 2px lightgreen;
}
.header-user-icon:hover {
  transform: scale(1.1);
}
.google {
  opacity: 0.8;
}
.google:hover {
  opacity: 1;
}
.caution {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  margin-left: 10px;
}
.user-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding: 0 20px 5px;
}
.user-show-left {
  display: flex;
}
.user-show-left-user-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  user-select: none;
  border: solid 1px lightgreen;
}
.user-show-left-user-name {
  font-size: 20px;
}
.user-show-left-user-name span {
  font-size: 30px;
  padding: 0 10px 0 20px;
}
.user-show-right-user-config {
  font-size: 30px;
  color: gray;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
.user-show-right-user-config:hover {
  opacity: 0.8;
}
.user-image-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  user-select: none;
  border: solid 1px lightgreen;
  cursor: pointer;
}
.hidden {
  display: none;
}
.card {
  padding: 0;
  margin-bottom: 30px;
}
.card .card-header {
  display: flex;
  align-items: center;
}
.card .card-header .post-user-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.card .card-header .post-user-name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 13px;
  color: #2c2c2c;
}
.card .card-header .post-user-name:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.card .card-body .post-main {
  border-bottom: dotted 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 7px;
  padding: 0 5px;
}
.card .card-body .post-main:nth-child(even) {
  margin-bottom: 20px;
}
.card .card-body .post-text {
  padding: 0 5px;
}
.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.card .card-footer .fa-heart {
  padding-right: 10px;
}
.card .fa-ellipsis-v {
  font-size: 20px;
}
body {
  width: 100%;
  min-height: 100vh;
}
.app-logo {
  color: white;
  font-size: 50px;
}
.app-logo:hover {
  opacity: 0.8;
  color: white;
}
.container {
  padding-top: 20px;
}
