.user-show-wrap {
  background-color: white;
  padding: 20px 10px 1px;
}
.user-show-wrap .user-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding: 0 20px 5px;
  margin-bottom: 30px;
}
.user-show-wrap .user-show-left {
  display: flex;
}
.user-show-wrap .user-show-left-user-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  user-select: none;
  border: solid 1px lightgreen;
}
.user-show-wrap .user-show-left-user-name {
  font-size: 20px;
}
.user-show-wrap .user-show-left-user-name span {
  font-size: 30px;
  padding: 0 10px 0 20px;
}
.user-show-wrap .user-show-right-user-config {
  font-size: 30px;
  color: gray;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
.user-show-wrap .user-show-right-user-config:hover {
  opacity: 0.8;
}
.time-sum-wrap {
  padding: 0;
  user-select: none;
  margin-bottom: 20px;
}
.time-sum-wrap .dropdown {
  padding: 0;
}
.time-sum-wrap .dropdown a {
  display: block;
  padding: 10px 0 2px;
}
.time-sum-wrap .dropdown a:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.time-sum-wrap .dropdown .dropdown-menu {
  right: 0 !important;
  overflow: scroll;
  max-height: 50vh;
}
.time-sum-wrap .dropdown strong {
  font-size: 20px;
}
@media (max-width: 575px) {
  .user-show-wrap {
    padding: 20px 10px 1px;
  }
  .user-show-wrap .user-show {
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .user-show-wrap .user-show-left-user-icon {
    width: 40px;
    height: 40px;
  }
  .user-show-wrap .user-show-left-user-name {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
  }
  .user-show-wrap .user-show-left-user-name span {
    font-size: 20px;
    padding: 0 5px 0 15px;
  }
  .time-sum-wrap .dropdown .dropdown-menu {
    max-height: 40vh;
  }
}
